<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.study">

    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 往SDCard读写数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MVP.View.LoginActivity"></activity>
        <activity android:name=".activity.A23BroadcastActivity" />
        <activity android:name=".activity.A22Dialog" />
        <activity android:name=".activity.A21Permission" />
        <activity android:name=".activity.A20UnitTVF" />
        <activity android:name=".activity.A19TabLayout" />
        <activity android:name=".activity.A18TablayoutTab" />
        <activity android:name=".activity.A17ViewPagerTab" />
        <activity android:name=".activity.A16BottomTab" />
        <activity android:name=".activity.A15TestServiceActivity" />

        <service
            android:name=".activity.S15PlayerService"
            android:label="startService音乐播放服务" />
        <service
            android:name=".activity.S15MyService"
            android:label="Service启动方式测试服务" />

        <activity android:name=".activity.A15PlayerServiceActivity" />
        <activity android:name=".activity.A14FragmentActivity" />
        <activity android:name=".activity.A13DiyView" />
        <activity android:name=".activity.A12GridView" />
        <activity android:name=".activity.A11ListViewObject" />
        <activity android:name=".activity.a11ListView" />
        <activity android:name=".activity.a10_dymaticView" />
        <activity android:name=".activity.a09_storage" />
        <activity android:name=".activity.a08_file" />
        <activity android:name=".activity.a07_dynamicLayout" />
        <activity android:name=".activity.a06_pcMuscle" />
        <activity android:name=".activity.a05_vibrate" />
        <activity android:name=".activity.a04_vedioplayer" />
        <activity android:name=".activity.a03_about" />
        <activity android:name=".activity.a02_bigger" />
        <activity android:name=".activity.a01_calculator" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>